a{
    color:rgb(255, 0, 255);
    background-color: #000000;
    font-weight:bold;
    
}

h1{
    color:red;
    background-color: rgb(158, 0, 0);

}

h4{
    color:rgb(255, 0, 255);
    background-color: black;
    
}

body{background: url(https://media.tenor.com/eYhcOIsJepsAAAAC/rize-blood.gif)}

div{
    margin: auto;
    width: 20%;
    padding: 5px;
    border: 100px ;
}